{% extends "mail/layout.html" %}
{% load static %}

{% block body %}
    <h2>{{ request.user.email }}</h2>

    <button class="btn btn-sm btn-outline-primary" id="inbox">Inbox</button>
    <button class="btn btn-sm btn-outline-primary" id="compose">Compose</button>
    <button class="btn btn-sm btn-outline-primary" id="sent">Sent</button>
    <button class="btn btn-sm btn-outline-primary" id="archived">Archived</button>
    <a class="btn btn-sm btn-outline-primary" href="{% url 'logout' %}">Log Out</a>
    <hr>

    <div id="emails-view">
        <div class="list-group" id="emails-list">
        </div>
    </div>

    <div id="email-view">
        <div class="row">
            <div class="col-12">
                <span class="h2" id="email-subject"></span>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <b>From: </b><span id="email-sender"></span>
            </div>
            <div class="col-sm-2 offset-sm-4">
                <small><span id="email-timestamp"></span></small>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <b>To: </b><span id="email-recipients"></span>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-md-10">
                <span id="email-body"></span>
            </div>
        </div>
        <button class="btn btn-secondary" id=archive-button></button>
    </div>

    <div id="compose-view">
        <h3>New Email</h3>
        <form id="compose-form">
            <div class="form-group">
                From: <input disabled class="form-control" value="{{ request.user.email }}">
            </div>
            <div class="form-group">
                <span class="alert alert-danger" style="display:none" id="recipients-message"></span>
                To: <input id="compose-recipients" class="form-control">
            </div>
            <div class="form-group">
                <input class="form-control" id="compose-subject" placeholder="Subject">
            </div>
            <textarea class="form-control" id="compose-body" placeholder="Body"></textarea>
            <input type="submit" class="btn btn-primary"/>
        </form>
    </div>
{% endblock %}

{% block script %}
    <script src="{% static 'mail/inbox.js' %}"></script>
{% endblock %}