{% extends "auctions/layout.html" %}

{% block body %}
    {% comment %} Title and category {% endcomment %}
    <div class="row">
        <div class="col-md">
            <h2>{{ listing.title }}
            {% if listing.category %}
                <small class="text-secondary">in {{ listing.get_category_display }}</small>
            {% endif %}
            </h2>
        </div>
    </div>

    {% comment %} Display information and add to watchlist {% endcomment %}
    <div class="row">
        <div class="col-7">
            {% comment %} Listing information {% endcomment %}
            {% if listing.closed and listing.bids.last.user == user %}
                <div class="alert alert-success" role="alert">Congratulations! You won the auction!</div>
            {% elif listing.closed and listing.bids.last.user != user %}
                <div class="alert alert-secondary" role="alert">This auction has ended.</div>
            {% endif %}
            <h5>Posted by: <b>{{ listing.user }}</b></h5>

            {% comment %} Current or starting bids {% endcomment %}
            <h6>
            {% if listing.bids.last and not listing.closed %}
                Current bid: ${{ listing.bids.last.amount }} <small>(Total bids: {{ listing.bids.count }})</small>
            {% elif listing.closed %}
                Final bid: ${{ listing.bids.last.amount|default:listing.starting_bid }}
            {% else %}
                Starting bid: ${{ listing.starting_bid }}
            {% endif %}

            {% comment %} Add or remove from Watchlist {% endcomment %}
            {% if user.is_authenticated %}
                <form action="{% url 'watch' listing.pk %}" method="POST">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-info btn-sm">
                        {% if listing in user.watchlist.all %}
                            Remove from watchlist
                        {% else %}
                            Add to watchlist
                        {% endif %}
                    </button></form>
            {% endif %}  </h6><br>
            <p>{{ listing.description }}</p>

            {% comment %} Close listing {% endcomment %}
            {% if listing.user == user and not listing.closed %}
                <form action="{% url 'close' listing.pk %}" method="POST">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-danger">Close listing</button>
                </form>
            {% endif %}
        </div>
        {% comment %} Listing Image {% endcomment %}
        <div class="col-5">
            <img src="{{ listing.image_url|default:"https://bit.ly/2E7YCcq" }}" alt="{{ listing.title }}" class="img-fluid">
        </div>
    </div>

    {% comment %} Place bids {% endcomment %}
    <div class="row">
        <div class="col-7">
            {% if message %}
                <div class="alert alert-danger" role="alert">
                    {{ message }}
                </div>
            {% endif %}
            {% if user.is_authenticated and not listing.closed %}
            <form class="form-inline" action="{% url 'bid' listing.pk %}" method="POST">
                {% csrf_token %}
                <input type="text" class="form-control mb-2 mr-sm-2" id="placeBid" placeholder="Place bid" name="new_bid">
                <button type="submit" class="btn btn-primary mb-2">Place bid</button>
            </form>
            {% elif not user.is_authenticated and not listing.closed %}
                <p><a href="{% url 'login' %}">Log in to place bid</a></p>
            {% endif %}
        </div>
    </div>
    
    {% comment %} Display comments {% endcomment %}
    <div class="row">
        <div class="col-7">
            {% for comment in listing.comments.all %}
                <ul class="list-unstyled">
                    <li class="media border rounded-pill">
                        <div class="media-body ml-5">
                            <h5 class="mt-0 mb-1">{{ comment.user }} says...</h5> 
                            {{ comment.text }}                
                        </div>
                    </li>
                </ul>
            {% empty %}
                No comments
            {% endfor %}
        </div>
    </div>

    {% comment %} Comment posting {% endcomment %}
    <div class="row">
        <div class="col-7">
            {% if user.is_authenticated and not listing.closed %}
                <form action="{% url 'comment' listing.pk %}" method="POST">
                {% csrf_token %}
                    <div class="form-group">
                        <textarea name="new_comment" id="new_comment" cols="30" rows="3" class="form-control"></textarea>
                    </div>
                    <button type="submit" class="btn btn-primary">Post comment</button>
                </form>
            {% elif not user.is_authenticated and not listing.closed %}
                <p><a href="{% url 'login' %}">Log in to comment</a></p>
            {% endif %}
        </div>
    </div>
    

{% endblock %}