{% extends "auctions/layout.html" %}

{% block body %}
    {% comment %} New listing form {% endcomment %}
    <form action="{% url 'new' %}" method="POST" class="needs-validation">
    {% csrf_token %}
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="listingTitle">Title</label>
                <input type="text" class="form-control" id="listingTitle" placeholder="Enter a title" name="title" required>
            </div>
            <div class="form-group col-md-2">
                <label for="listingStartingBid">Starting Bid</label>
                <input type="number" class="form-control" id="listingStartingBid" placeholder="Enter starting bid" name="startingBid" required>
            </div>            
        </div>
         <div class="form-row">
            <div class="form-group col-md-3">
                <label for="listingCategory">Category</label>
                <select class="form-control" id="listingCategory" name="category">
                    <option hidden disabled selected value>--select an option--</option>
                    <option value="MO">Motors</option>
                    <option value="FA">Fashion</option>
                    <option value="ME">Media</option>
                    <option value="EL">Electronics</option>
                    <option value="AR">Art</option>
                    <option value="HO">Home</option>
                    <option value="SP">Sports</option>
                    <option value="TO">Toys</option>
                    <option value="BU">Business</option>
                    <option value="HE">Health</option>
                    <option value="OT">Other</option>
                </select>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="listingImageUrl">Image URL</label>
                <input type="url" class="form-control" id="listingImageUrl" name="imageUrl">
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="listingDescription">Description</label>
                <textarea class="form-control" id="listingDescription" name="description" required></textarea>
            </div>
        </div>
        <button class="btn btn-primary" type="submit">Create Listing</button>
    </form>
    
{% endblock %}