{% extends "auctions/layout.html" %}

{% block body %}
    <h2>Watchlist</h2>

    {% for listing in user.watchlist.all %}
        <div class="card mb-3" style="max-width: 540px;">
            <div class="row no-gutters">
                <div class="col-md-4">
                    <img src="{{ listing.image_url|default:"https://bit.ly/2E7YCcq" }}" alt="{{ listing.title }}" class="card-img">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">{{ listing.title }}</h5>
                        <h6 class="card-subtitle mb-2 text-muted">
                        {% if listing.bids.last %}
                            ${{ listing.bids.last.amount }} bid by {{ listing.bids.last.user }}
                        {% else %}
                            No bids
                        {% endif %}
                        </h6>
                        <p class="card-text">{{ listing.description }}</p>
                    </div>
                </div>
            </div>
            
            <div class="card-footer text-muted">
                <a href="{% url 'listing' listing.pk %}">View Listing</a>
            </div>
        </div>
    {% endfor %}


{% endblock %}
